In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('interactive_data.csv')
df

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...,...
535,536,Unknown,Male,5,White,0,0,NaN
536,537,Unknown,Male,5,Black,0,0,NaN
537,538,Unknown,Male,5,Hispanic,0,0,NaN
538,539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,540,Unknown,Male,5,Other,0,0,NaN

- Nearly *two-thirds* of gun deaths are *suicides*.

In [4]:
mort = df['Deaths'][0]
mort

33599

In [5]:
df.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [6]:
df_Intention = df.sort_values(by = 'Intent')
df_Intention

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
325,326,Accident,None selected,None selected,White,377,197369634,0.2
354,355,Accident,None selected,5,None selected,0,0,NaN
355,356,Accident,None selected,5,White,0,0,NaN
356,357,Accident,None selected,5,Black,0,0,NaN
357,358,Accident,None selected,5,Hispanic,0,0,NaN
...,...,...,...,...,...,...,...,...
461,462,Unknown,None selected,65+,Other,0,589598,0.0
460,461,Unknown,None selected,65+,Asian/Pacific Islander,0,1742301,0.0
459,460,Unknown,None selected,65+,Hispanic,0,3316947,0.0
470,471,Unknown,Female,None selected,Black,7,20362385,0.0
539,540,Unknown,Male,5,Other,0,0,NaN

In [7]:
df_suicide = df_Intention[['Intent']]
df_suicide

       Intent
325  Accident
354  Accident
355  Accident
356  Accident
357  Accident
..        ...
461   Unknown
460   Unknown
459   Unknown
470   Unknown
539   Unknown

[540 rows x 1 columns]

In [8]:
df_taux_suicide = df[(df['Intent'] == 'Suicide')]
df_taux_suicide

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
108,109,Suicide,None selected,None selected,None selected,21058,316299978,6.7
109,110,Suicide,None selected,None selected,White,18457,197369634,9.4
110,111,Suicide,None selected,None selected,Black,1111,38896382,2.9
111,112,Suicide,None selected,None selected,Hispanic,1057,54049078,2.0
112,113,Suicide,None selected,None selected,Asian/Pacific Islander,248,16315561,1.5
...,...,...,...,...,...,...,...,...
211,212,Suicide,Male,5,White,1,0,inf
212,213,Suicide,Male,5,Black,0,0,NaN
213,214,Suicide,Male,5,Hispanic,0,0,NaN
214,215,Suicide,Male,5,Asian/Pacific Islander,0,0,NaN
215,216,Suicide,Male,5,Other,0,0,NaN

In [9]:
taux_suicide = df_taux_suicide['Deaths'][108]
taux_suicide

21058

In [10]:
ratio = (taux_suicide)/(mort)
print('Le taux de suicide est de : ',ratio*100,'%')

Le taux de suicide est de :  62.67448435965356 %

- More than *85 percent* of suicide victims are *male*.

In [11]:
df_taux_suicide_male = df[(df['Intent'] == 'Suicide') & (df['Gender'] == 'Male')]
df_taux_suicide_male

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
180,181,Suicide,Male,None selected,None selected,18162,155631868,11.7
181,182,Suicide,Male,None selected,White,15852,97207346,16.3
182,183,Suicide,Male,None selected,Black,989,18533996,5.3
183,184,Suicide,Male,None selected,Hispanic,941,27378155,3.4
184,185,Suicide,Male,None selected,Asian/Pacific Islander,215,7726442,2.8
185,186,Suicide,Male,None selected,Other,164,4785929,3.4
186,187,Suicide,Male,Under 15,None selected,114,31249189,0.4
187,188,Suicide,Male,Under 15,White,98,16182922,0.6
188,189,Suicide,Male,Under 15,Black,6,4228176,0.1
189,190,Suicide,Male,Under 15,Hispanic,9,7664425,0.1
190,191,Suicide,Male,Under 15,Asian/Pacific Islander,2,1431715,0.1
191,192,Suicide,Male,Under 15,Other,0,1741952,0.0
192,193,Suicide,Male,15 - 34,None selected,4399,44017869,10.0
193,194,Suicide,Male,15 - 34,White,3339,24831032,13.4
194,195,Suicide,Male,15 - 34,Black,466,5869943,7.9
195,196,Suicide,Male,15 - 34,Hispanic,424,9379683,4.5
196,197,Suicide,Male,15 - 34,Asian/Pacific Islander,92,2415040,3.8
197,198,Suicide,Male,15 - 34,Other,78,1522171,5.1
198,199,Suicide,Male,35 - 64,None selected,8991,60810870,14.8
199,200,Suicide,Male,35 - 64,White,8005,40585343,19.7
200,201,Suicide,Male,35 - 64,Black,411,6915685,5.9
201,202,Suicide,Male,35 - 64,Hispanic,405,8914219,4.5
202,203,Suicide,Male,35 - 64,Asian/Pacific Islander,99,3129535,3.2
203,204,Suicide,Male,35 - 64,Other,71,1266087,5.6
204,205,Suicide,Male,65+,None selected,4656,19553940,23.8
205,206,Suicide,Male,65+,White,4409,15608050,28.2
206,207,Suicide,Male,65+,Black,106,1520192,7.0
207,208,Suicide,Male,65+,Hispanic,104,1419828,7.3
208,209,Suicide,Male,65+,Asian/Pacific Islander,22,750151,2.9
209,210,Suicide,Male,65+,Other,14,255719,5.5
210,211,Suicide,Male,5,None selected,2,0,inf
211,212,Suicide,Male,5,White,1,0,inf
212,213,Suicide,Male,5,Black,0,0,NaN
213,214,Suicide,Male,5,Hispanic,0,0,NaN
214,215,Suicide,Male,5,Asian/Pacific Islander,0,0,NaN
215,216,Suicide,Male,5,Other,0,0,NaN

In [12]:
taux_suicide_male = df_taux_suicide_male['Deaths'][180]

ratio_2 = (taux_suicide_male)/(taux_suicide)

In [13]:
print('Le taux de suicide masculin est de : ',ratio_2*100,'%')

Le taux de suicide masculin est de :  86.24750688574414 %

- Around *a third* of all gun deaths are *homicides*.

In [14]:
df_taux_homicide = df[(df['Intent'] == 'Homicide')]
df_taux_homicide

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
216,217,Homicide,None selected,None selected,None selected,11726,316299978,3.7
217,218,Homicide,None selected,None selected,White,3049,197369634,1.5
218,219,Homicide,None selected,None selected,Black,6503,38896382,16.7
219,220,Homicide,None selected,None selected,Hispanic,1878,54049078,3.5
220,221,Homicide,None selected,None selected,Asian/Pacific Islander,186,16315561,1.1
...,...,...,...,...,...,...,...,...
319,320,Homicide,Male,5,White,2,0,inf
320,321,Homicide,Male,5,Black,0,0,NaN
321,322,Homicide,Male,5,Hispanic,0,0,NaN
322,323,Homicide,Male,5,Asian/Pacific Islander,0,0,NaN
323,324,Homicide,Male,5,Other,0,0,NaN

In [15]:
taux_homicide = df_taux_homicide['Deaths'][216]
taux_homicide

11726

In [16]:
ratio = (taux_homicide)/(mort)
print('Le taux d homicide est de : ',ratio*100,'%')

Le taux d homicide est de :  34.899848209768145 %

- Around *two-thirds* of homicide victims who are *males* in the *age-group of 15--34* are *black*.

In [17]:
df_homicide_male_age_b = df[(df['Intent'] == 'Homicide')&(df['Gender'] == 'Male')&(df['Age'] == '15 - 34')&(df['Race'] == 'Black')]
taux_homicide_male_age_b = df_homicide_male_age_b['Deaths'][302]
df_homicide_male_age = df[(df['Intent'] == 'Homicide')&(df['Gender'] == 'Male')&(df['Age'] == '15 - 34')]
taux_homicide_male_age = df_homicide_male_age['Deaths'][300]

In [18]:
ratio_three = (taux_homicide_male_age_b)/(taux_homicide_male_age)
print('Le taux de suicide des Hommes Black dans le groupe dÃ¢ge 15--34 est de : ',ratio_three*100,'%')

Le taux de suicide des Hommes Black dans le groupe dÃ¢ge 15--34 est de :  66.13496932515336 %

- *Women* constitue only *15 percent* of the total *homicide* victims.

In [25]:
taux_women = df_taux_homicide[(df_taux_homicide['Gender'] == 'Female')]

taux_women_ratio = taux_women['Deaths'][252]
                               
ratio_women =  taux_women_ratio / taux_homicide

In [24]:
print('Le taux de suicide des Female est de : ',ratio_women*100,'%')

Le taux de suicide des Female est de :  15.273750639604296 %